.ox_fogot {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}
.ox_mb_4 {
  margin-bottom: 1rem;
}
.ox_back {
  text-align: center;
  font-size: 0.8125rem;
}

.ox_email_not_exist {
  text-align: center;
  padding: 1rem;
}
