.ox_input_fields_password {
  margin-bottom: 1.5rem;
}
.ox_wapper_input {
  position: relative;
}
.ox_label_input_password {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.ox_btn_show {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ox_show {
  width: 1.25rem;
  height: 1.25rem;
}

.ox_flex_name {
  display: flex;
  gap: 4px;
  align-items: center;
}
