.ox_message {
  position: fixed;
  right: -100%;
  top: 0;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
