.ox_input_fields_email {
  margin-bottom: 1.25rem;
}

.ox_label_input_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}
