.ox_footer {
  font-size: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

.footer_signin,
.footer_secured {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 1rem 2rem;
}
.footer_signin {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.link {
  cursor: pointer;
  color: #6842ff;
}
.logoIcon {
  height: 14px;
  width: 14px;
}
.ox_logo_bottom {
  display: flex;
  gap: 3px;
}
