.ox_row_social_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.5rem;
}
.ox_social_login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.375rem 0.75rem;
  outline: 0px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--color-border-400);
  border-radius: var(--border-400);
  position: relative;
  isolation: isolate;
  transition-property: background-color, border, box-shadow, transform;
  transition-duration: 100ms;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.38462;
  width: 100%;
}
.ox_social_login:hover {
  background-color: var(--color-primary-50);
}
.ox_box_line {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.ox_line {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 0%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.07);
}
.ox_or {
  margin: 0px 1rem;
  font-size: 14px;
  color: #6b6470;
}
