.html {
  font-size: 16px;
}
.bg_login {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: fixed;
  background-image: url(https://sgp1.vultrobjects.com/oneauxilia-homepage-image/images/86ffaf40-8bc8-4748-a282-7aa0523fc8bd);
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
