/* add css module styles here (optional) */
.ox_dropdown {
  border-radius: 0.75rem;
  position: absolute;
  overflow: hidden;
  top: 60px;
  right: 0;
  width: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 5px 15px 0px,
    rgba(25, 28, 33, 0.2) 0px 15px 35px -5px,
    rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  transition: opacity 2s ease-in-out;
  z-index: 20;
}
.ox_user_button {
  position: relative;
}
.ox_avatar {
  width: 36px;
  height: 36px;
  max-width: 36px;
  border-radius: 100%;
  border: 3px solid #fff;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}
.ox_avatar:hover {
  border: 3px solid #ccc;
}
.ox_ul {
  background: white;
}
.ox_dropdown_li {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
  gap: 16px;
  border: none;
  border-bottom: 1px solid #e0dfdf;
  background-color: white;
  cursor: pointer;
}
.ox_dropdown_li:hover {
  color: #6842ff;
}
.ox_dropdown_li_user {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  height: 64px;
  align-items: center;
  width: 100%;
  gap: 16px;
  border: none;
  border-bottom: 1px solid #e0dfdf;
  background-color: white;
  cursor: pointer;
}
.ox_dropdown_secured {
  font-weight: bold;
  font-size: 0.8125rem;
  display: flex;
  height: 50px;
  width: 100%;
  gap: 4px;
  border-bottom: 1px solid #e0dfdf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size6 {
  height: 1.5rem;
  width: 1.5rem;
}
.ox_user {
  display: flex;
  gap: 16px;
  align-items: center;
}
.ox_user_name_email {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
.ox_user_name {
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-weight: 500;
}
