/* add css module styles here (optional) */

.ox_row {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.ox_row_end {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}
.ox_row_left {
  width: 30%;
}
.ox_row_right {
  width: 70%;
}
.ox_btn_add_2fa {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #7859f7;
}
.ox_box_action {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.ox_btn_remove {
  background-color: white;
  cursor: pointer;
  border: none;
  color: #ef4444;
}
.ox_btn_reset {
  background-color: white;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}
.ox_btn_reset:hover {
  background-color: #e7e5e5;
}
